#circle{
    background-color: lightgreen;
    height:200px;
    width: 200px;
    padding: 20px;
    float: left;
    margin: 50px;
    border-radius: 140px;
    text-align: center;
    color: darkblue;
    padding-top:50px;
    font-weight: bold;
}