h1{
    background-color: yellow;
    color: green;
    font-family: arial;
}

.theme1 li{
    background-color: yellow;
    border: 2px solid red;
    color: red;
    font-family: arial;
}


#big-box{
    overflow: hidden;
    padding: 20px;
    border: 1px solid black;
    width: 90%;
    margin: 20px;
}
.theme2 li{
    background-color: lightblue;
    border: 2px solid brown;
    color: brown;
    font-family: arial;
}