<h1>My First Angular APP</h1>
<div id="big-box">
     <app-menu-box *ngFor="let x of items" [menuitem]="x"></app-menu-box>
</div>
<h3 [style.color]="'red'" (click)="toggleTheme()">change theme</h3>
Appname:: {{appname}} <br/>
Developer :: {{developer}}<br/>
<u><b>Team:</b></u>
<ul [ngClass]="theme">
     <li *ngFor="let x of names">{{x}}</li>
</ul>
<h3 [style.color]="'red'" [style.backgroundColor]="'yellow'">Selected programmer is {{selected}}</h3>
<app-receiver [names]="people" [boxtitle]="title" 
(choose)="receiveValue($event)"></app-receiver>
<app-timer></app-timer>
<app-box></app-box>
<app-circle *ngFor="let x of circletitles" [name]="x"></app-circle>
